ul.todo-list :last-child {
  border: none;
}
ul.todo-list {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  padding-right: 16px;
  border-left: 8px solid var(--sb-theme-color);

  /* gap: 16px; */
}
.todo-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.todo-list-header .todo-list-expand svg {
  transition: transform 0.3s ease;
}

.todo-list-header.expanded .todo-list-expand svg {
  transform: rotate(-90deg);
}
.todo-list .list-change-btns {
  justify-content: center;
}
